<template>
  <nav class="navbar">
    <div class="logo"> <img src="/assets/logo-chicks-gold.svg" alt="Chicks Gold logo" /></div>
    <div class="menu">
      <a href="#">CURRENCY</a>
      <a href="#">ITEMS</a>
      <a href="#">ACCOUNTS</a>
      <a href="#">SERVICES</a>
      <a href="#">SWAP</a>
    </div>
    <div class="top-bar">
      <a href="#">USD</a>   
      <a href="#">CART</a>       
      <button class="sign-in-btn">
        SIGN IN
        <img src="/src/assets/icon-user.png" alt="User" class="btn-icon" />
      </button>
      
    </div>
    
  </nav>
</template>
